$color-black: #000000;
$color-white: #ffffff;

$color-blue-1: #3070b6;
$color-blue-2: #083970;
$color-blue-3: #002752;
$color-blue-4: #b9cef7;
$color-blue-5: #2c6aad;

$color-grey-1: #59585a;
$color-grey-2: #1e1e1e;
$color-grey-3: #f4f4f4;

